@import "~src/theme";

$dropzone-height: 1.75em;

.EditSong {
  position:relative;

  textarea {
    font-size: 16px;
    font-family: $font-monospace;
    margin-top: 0.35 * $dropzone-height;
    line-height: $dropzone-height + 1em;
    border: none;
    outline: none;
    resize: none;

    &:disabled {
      color: $color-background-font;
      background-color: $color-background;
    }
  }
}

.ChordsOverlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top:0;
  pointer-events: none;
  &>div {
    pointer-events: all;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    height: $dropzone-height;
    &>div {
      width: 1ch;
      line-height: $dropzone-height;
    }
  }

  .chord {
    cursor: default;
    font-size: 16px;
    font-family: $font-monospace;
    font-weight: bold;
    color: blue;
    z-index: 1;

    &.draggable {
      cursor: move;
    }
    
    &.dragging {
      cursor: move;
      opacity: 0.5;
      pointer-events: none;
      position: fixed;
    }
  }
  
  .dropzone {
    cursor: move;
    font-family: $font-monospace;
    font-weight: bold;
    background-color: #DDDDDD;
  }
}

.ChordInput {
  font-family: $font-monospace;
  font-weight: bold;
  color: blue;
  font-size: 16px;

  position: fixed;
  cursor: text;
  background-color: $color-background;
  z-index: 1;
  width: 7ch;
}